*{
    margin: 0;
    padding: 0;
}
body{
    background: #e6ddaf4f;
}
header, main{
    margin: auto;
    width: 66%;
    min-width: 460px;
    background-image: linear-gradient(180deg, #7e805698, #FAF4D8);
}
div img{
    width: 100%;
}
nav{
    width: 100%;
    background-color: darkslategray;
    height: 50px;
}
li{
    display: inline;
}
a{
    color: antiquewhite;
    line-height: 3em;
    padding: 0px 5px;
    text-decoration: none;
}
h2{
    margin: 5px;
    padding: 20px;
}
p{
    margin: 20px 50px;
    text-align: justify;
}